<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="title" /><br />
  标签：<br />
  <select name="tag">
    <option value="technology">technology</option>
    <option value="life">life</option>
  </select><br />
  列表内容：<br />
  <textarea name="listContent" rows="10" cols="100"></textarea><br />
  正文：<br />
  <textarea name="article" rows="20" cols="100"></textarea><br />
  <input type="submit" value="发表" />
</form>
<%- include footer %>